{% extends "sns_app/base.html" %}

{% block title %}
<title>index thread</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="alert alert-primary">
            <a href="{% url 'sns_app:create_thread' %}">スレッド作成ページへ遷移する</a>
        </div>
    </div>
{% if threads %}
    {% for thread in threads %}
        <div class="container">
            <div class="alert alert-secondary">
                <a href="{% url 'sns_app:thread' thread.id %}">{{ thread.thread_name }} {{ thread.thread_created_date }}</a>
            </div>
        </div>

    {% endfor %}
{% else %}
    <p>スレッドがありません</p>
{% endif %}

{% endblock content %}
